$primary-color: #0068F3;
$primary-hover: #0055A9;
$title-color:#A84BFF;
$footer-color:#E0ECF8;
$basic-color:#606B7B;
$about-background:#F5F7FA;

body{
    margin:0;
    padding:0;
   
}
/*-----------------Navbar section-------------------*/
.logo{
   height: 150px;
   width: 150px;
}

.nav-link:hover{
color:#0068F3;
}
.cart-color{
    color:#606B7B;
}
.btn-color{
    color:$primary-hover;
}
/*-----------------Header section-------------------*/
#header-hero{
    
h1{
    color:#000;
}
.header{
    font-size: 50px;
}
.empower{
    color:$title-color;
}
.header-title{
    font-size: 20px;
    line-height: 30px;
}
.title{
     font-size: 15px;
     margin-top: 50px;
}
span.sub-title{
    font-size: 20px;
    font-weight: bold;
    color:#000;
}
.image{
    width: 350px;
}
.image-1{
    height: 400px;
    margin-bottom: 50px;
}
}

/*-----------------Our solution section-------------------*/
#our-solution{
    background-color: #F6F7F9;
    .para{
        font-weight: 400px;
        font-size: 20px;
        color:#606B7B;
    }
    .card{
        padding: 50px;
    }
    .card-style{
        margin-top: -50px;
    }
    .card-img-top{
        width: 150px;
        margin-top: 30px;
        margin-left: 25px;
    }
    .card:hover{
        background-color:$primary-color;
        color:#fff;
    }
    .btn-all{
        padding: 15px;
        font-size: 20px;
        width: 20%;
       margin-left: 40%;
       margin-bottom: 20px;
    }
   
}
@media (max-width:600px) {
    #our-solution{
        .btn-all{
            width: 40%;
        }
    }
}
/*-----------------Blog section-------------------*/
#header-blog{
    background-color: $footer-color;
    .blog{
        font-size: 40px;
        font-weight: 700px;
    }
    input{
        border:none;
        padding: 15px;
        margin-right: 10px;
        width: 30%;
       
    }
    .btn{
      
        padding: 15px;
        margin-right: 10px;
        width: 20%;
    }
.title-1{
    font-size: 20px;
}
.card{
    padding: 20px;
    width: 20rem;
}

}
@media (max-width:600px) {
    #header-blog{
        .btn{
            width: 40%;
        }
    }
}
/*-----------------About section-------------------*/
#about-header{
    background-color: $footer-color;
    .about-body{
       background-color: $primary-color;
       width: 15%;
       color:#fff;
       margin-top: 30px;
       margin-left:30%;
       padding: 30px;
       border-radius: 5px;
    }
    .about-body1{
        background-color: #fff;
        width: 15%;
        color:$basic-color ;
        margin-top: 30px;
        margin-left: 10px;
        padding: 30px;
        border-radius: 5px;
     }
     .fas{
         font-size: 30px;
     }
     .far{
        font-size: 30px;
    }
     .about-body1:hover{
        background-color: $primary-color;
        color:#fff;
     }
}
#about-section{
    .para{
        color:$basic-color;
        font-weight: 100px;
        font-size: 20px;
    }
}
#about-our-section{
    .para{
        color:$basic-color;
        font-weight: 100px;
        font-size: 20px;
    }
}
@media (max-width:600px) {
    #about-header{
    .about-body{
        width: 20%;
     }
     .about-body1{
        width: 20%;
     }
    }

}
/*-----------------Docs section-------------------*/
#docs-section{
    form{
   margin-left:30%;
   margin-top: 30px;
    }
    input{
        width: 40%;
    }
}
#plugins-section{
    background-color: $footer-color;
  
.plugins{
    background: #fff;
    width: 90%;
    height: 300px;
    margin-top: 30px;
    padding: 40px;
}
.card{
    width: 50%;
    text-align: center;
}
.image{
    width: 50px;
    height: 50px;
}


}
@media (max-width:600px) {
    #plugins-section{
        .card{
            width: 30%;
           
        }

    }

}
/*-----------------Contact section-------------------*/
#contact-section{
    background-color: $about-background;
   .contact{
       background-color: #fff;
   }
   .btn{
       padding: 15px;
       width: 30%;
       border-radius: 5px;
   }
}
/*-----------------Footer section-------------------*/
#footer{
    background-color: $footer-color;

    .fab{
        font-size: 25px;
        border-radius: 50px;
        padding: 10px;
        border: 2px solid #606B7B;
        margin-right: 5px;
    }
  
}